<%= javascript_include_tag :defaults %>

<div class="loginbox">
  <p>Who are you?</p>
  <%= form_tag welcome_path, :class => 'iform', :id => 'login_form', :autocomplete => 'off' do %>
    <%= select :user, :login, 
      [ 'Please select', '' ] + 
      User.all(:order=> "login ASC").collect {|u| [ u.login, u.login ]},
      { :include_blank => nil }, 
      {:onchange => "$('login_form').submit()"} %>
    <p>or</p>
    <%= link_to 'sign up', { :action => 'new', :controller => 'users' }, :target => '_blank' %>
  <% end %>
</div>
