.broadcasts {
  border: 3px solid #080;
  background-color: #8c4;
  margin: 4px;
  padding: 4px;
  font-size: 12pt;
  font-weight: bold;
  border-radius: 10px;
}

#chatwindow {
  position:fixed;
  top: 0px;
  right: 0px;
  width: 25%;
  height: 100%;
  background-color: #fff;
  border-left: 2px solid #888;
}
#chatpane {
	padding:3px;
	overflow: auto;
  height: calc(100% - 150px);
}
#chatbox {
	height: 20px;
	padding: 3px;
}
#chat_input {
  margin: 0px;
  width: 100%;
}


#togglechat {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #888; 
  z-index: 30;
  padding: 3px;
}

#chatlist a {
  text-decoration: none;
}

#chatlist {
  padding: 0px;
  margin: 0px;
}

#chatlist li {
  list-style: none;
  padding-left: 1em;
  text-indent: -1em;
  font-size: 10pt;
}

#chatlist .operator {
  color: green;
}
#chatlist .broadcast {
  color: blue;
}
#chatlist .important {
  color: red;
  font-weight: bold;
}

#chatusers {
	height: 80px;
	overflow:auto;
	padding:3px
}
#userlist {
	margin: 0px;
	padding: 0px;
	display: inline;
}

#userlist li {
  display: inline;
  margin-left:5px;
}

#userlist li:before {
 content:'\25AA';
 margin-right:0.1em;
}
