#mainpage {
  width: 72%;
}

#puzzle {
  width: 72%;
}

#topic {
  width: 72%;
}

#round {
  width: 72%;
}

#statbox {
position: relative; border:1px solid #fcc;width:740px;padding:15px 0px;background-color: #fff;
}

#workspaces {
  margin-top: 10px;
}

.graphbutton {
position: absolute; right:5px; top: 2px; padding:2px; background-color: #ccc;
}

#stats {
position:absolute; left: 5px; top: 5px;font-size:larger; color:#c88;
}

.iform {
	display: inline;
}

label {
  white-space: nowrap;
  font-weight: bold;
}
