
.puzzle {
  border: 1px solid;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 4px;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  padding: 2px;
}

.puzzle .small {
  font-size: 12px;
  font-weight: bold;
}

.puzzle .priority {
  background-color: red;
  width: 8%;
  text-align: center;
}
.puzzle .status {
  background-color: blue;
  width: 8%;
  text-align: center;
}
.puzzle .answer {
  background-color: #0f0;
  width: 15%;
}
.puzzle .main {
  width: 40%;
}
.puzzle .hint {
  width: 20%;
}

.puzzle .controls {
  width: 15%;
}

.operator_row {
  background: #ffc;
  border-top: 1px solid #000;
  border-collapse: separate;
  border-spacing: 2px;
  padding: 3px;
}
.operator_row .cell {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ddb;
}

.operator_row .switch_buttons {
  display: table-cell;
  vertical-align: middle;
  padding: 2px;
  width: 150px;
}

#operator {
  border: 2px solid #000;
  border-radius: 5px;
  width: 50%;
}
