.workspace {
  background-color: #f4ffaa; 
  margin-bottom: 5px;
  border-radius: 4px;
  border: 2px solid #000;
}

.workspace_contents {
  padding: 2px;
}
.workspace_contents textarea {
  width: 100%;
  height: 120px;
}

.workspace_header {
  background-color: #888;
  padding: 4px;
}

.workspace_button {
  display: inline;
}

.title_left {
 float:left;
}
.title_left a {
  text-decoration: none;
}
.title_right {
  float:right;
}

.workspace .priority {
  font-size: 10px;
  font-weight: bold;
}

.workspace .table {
  display: table;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
}

.workspace .tr {
  display: table-row;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.workspace .th {
  display: table-cell;
  border: 1px solid #400;
  padding: 0px;
  margin: 0px;
}

.workspace .td {
  display: table-cell;
  border: 1px solid;
  padding: 0px;
  margin: 0px;
}

.workspace .table input {
  width: 100%;
  height: 100%;
  border: none;
}

.workspace .td input {
  background-color: #cff;
}

.etherpad {
  margin: 0px;
  padding: 0px;
  width:100%;
  border: 0px;
}
