<div id="connectiontest" class="testbox">
  <%= link_to_remote 'connection test', :url => { :action => 'test', :controller => 'welcome', :user => user, :channel => channel }, :html => { :class => 'testlink' }%>
</div>